# Data Frames #

Creamos dataframes usando la función **data.frame**

In [2]:
# Progresión de la plusmarca mundial de los 100 m lisos masculino
# Fuente: wikipedia
tiempos <- data.frame (name=c("Usain Bolt", "Usain Bolt", "Asafa Powel", "Asafa Powel", "Maurice Greene", "Donovan Bailey"), 
                       time=c(9.58, 9.69, 9.74, 9.77, 9.79, 9.84), 
                       year=c(2009, 2008, 2007, 2005, 1999, 1996))
tiempos

  name           time year
1 Usain Bolt     9.58 2009
2 Usain Bolt     9.69 2008
3 Asafa Powel    9.74 2007
4 Asafa Powel    9.77 2005
5 Maurice Greene 9.79 1999
6 Donovan Bailey 9.84 1996

**CUIDADO** por defecto los vectores de cadena de texto son convertidos a tipo "factor"

In [9]:
class (tiempos$name)

[1] "factor"

In [12]:
tiempos <- data.frame (name=c("Usain Bolt", "Usain Bolt", "Asafa Powel", "Asafa Powel", "Maurice Greene", "Donovan Bailey"), 
                       time=c(9.58, 9.69, 9.74, 9.77, 9.79, 9.84), 
                       year=c(2009, 2008, 2007, 2005, 1999, 1996),
                       stringsAsFactors = FALSE)
class (tiempos$name)

[1] "character"

In [4]:
nrow(tiempos) # número de registros en el data frame

[1] 6

otra forma de crear un data frame:

In [ ]:
temp <- c(35, 88, 42, 84, 81, 30)
city <- c("Beijing", "Lagos", "Paris", "Rio de Janeiro", "San Juan", "Toronto")
city_temps <- data.frame(name = city, temperature = temp)
city_temps