# Programando en R #

## Expresiones condicionales (if /else / ifelse) ##

R usa las palabras clave if/else. La condición a comprobar se encierra entre paréntesis y se evalua como verdadera o falsa. En función de esto se ejecuta el código correspondiente que va encerrado entre llaves.

    if(condición){
        codigo si la condición se evalúa como TRUE
        } else {
            codigo si la condición se evalúa como FALSE
        }

In [ ]:
if(a!=0){
    print(1/a)
} else {
    print("error en la operación: división por cero")
}

la palabra clave **ifelse** permite escribir sentencias condicionales muy compactas. Su estructura es

    ifelse(condición, codigo si verdadero, codigo si falso)

In [1]:
a <- 0
ifelse(a>0, 1/a, NA)

[1] NA

Esta función se puede aplicar a un vector y el resultado es otro vector

In [2]:
a <- c(0, 1, 2, -4, 5)
division  <- ifelse(a>0, 1/a, NA)
division

[1]  NA 1.0 0.5  NA 0.2

Podemos usarla para sustituir los valores NA por el valor 0 (cero)

In [6]:
na_serie <- c(NA, 1, 5, NA, 7, 9)
sum(is.na(na_serie))
no_nas <- ifelse(is.na(na_serie), 0, na_serie)
no_nas

[1] 2

[1] 0 1 5 0 7 9

In [5]:
head(airquality)
sum(is.na(airquality))
Ozone_no_nas <- ifelse(is.na(airquality$Ozone), -1, airquality$Ozone)
head(Ozone_no_nas)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

[1] 44

[1] 41 36 12 18 -1 28

## any, all ##

**any** devuelve TRUE si al menos uno de los valores lógicos de un vector es TRUE

**all** devuelve TRUE si todos los valores lógicos de un vector son TRUE

In [1]:
z <- c(TRUE, TRUE, FALSE)
any(z)
all(z)
any(!z)
all(!z)

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

## Funciones ##

Las funciones son objetos que se asignan mediante la palabra clave **function** y los argumentos

    una_funcion <- function(x,y,z){
        ...
        código
        ...
        valor o vector devuelto
    }

In [3]:
# crea una funcion que devuelve la suma
# de los cuadrados de una serie
compute_s_n <- function(n){
    x <- 1:n
    sum(x^2)
}
compute_s_n(100)

[1] 338350

## bucles For ##

    for (i in range of values){
        ...
        código
        ...
    }

In [5]:
# crea un vector con la suma de los cuadrados de los primeros 25 numeros

s_n <- vector("numeric", 25) # vector vacío de longitud 25

for (i in 1:25){
    s_n[i] <- compute_s_n(i)
}
s_n

 [1]    1    5   14   30   55   91  140  204  285  385  506  650  819 1015 1240
[16] 1496 1785 2109 2470 2870 3311 3795 4324 4900 5525

## apply, sapply, tapply, mapply ##

Los bucles for raramente son

## split, cut, quantile, reduce, identical, unique ##