#  La libreria dplyr #

**dplyr** es un paquete para la manipulacion de datos.
https://www.r-bloggers.com/data-manipulation-with-dplyr/
R nos avisar치 con un mensaje que algunas funciones existentes en librerias precargadas (stats, base) van a ser enmascaradas ya que el paquete dplyr contiene otras similares

In [1]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

## mutate, select, filter y el operador '%>%' ##

- **mutate** nos permite a침adir una nueva columna a un dataset o modificar una existente
- **filter** permite filtrar los datos por filas y crear un subconjunto
- **select** selecciona un conjunto de columnas y crea un subconjunto con ellas
- **%>** es un operador que nos permite enviar el resultado de una operaci칩n a otra funci칩n.

En la siguiente tabla la columna Temp muestra la temperatura en K.

In [1]:
library (datasets)
head(airquality) # datos sobre calidad del aire en New York de mayo a sept de 1973

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

Cuando usamos estas funciones no es necesario el operador ** $ ** para hacer referencia a una variable del dataframe

In [2]:
airquality_mutated <- mutate(airquality, TempInC = (Temp - 32) * 5 / 9) # agrea la columna TempInc al dataframe airquality
head (airquality_mutated)

  Ozone Solar.R Wind Temp Month Day TempInC
1 41    190      7.4 67   5     1   19.44444
2 36    118      8.0 72   5     2   22.22222
3 12    149     12.6 74   5     3   23.33333
4 18    313     11.5 62   5     4   16.66667
5 NA     NA     14.3 56   5     5   13.33333
6 28     NA     14.9 66   5     6   18.88889

In [8]:
airquality_70 <- filter(airquality, Temp > 70) # filtra y crea un subgrupo con los registros cuya Temp sea mayor de 70F
head(airquality_70)

  Ozone Solar.R Wind Temp Month Day
1  36   118      8.0 72   5      2
2  12   149     12.6 74   5      3
3   7    NA      6.9 74   5     11
4  11   320     16.6 73   5     22
5  45   252     14.9 81   5     29
6 115   223      5.7 79   5     30

In [10]:
airquality_80 <- filter(airquality, Temp > 80 & Month > 5) # podemos combinar 
head(airquality_80)

  Ozone Solar.R Wind Temp Month Day
1 NA    186      9.2 84   6      4
2 NA    220      8.6 85   6      5
3 29    127      9.7 82   6      7
4 NA    273      6.9 87   6      8
5 71    291     13.8 90   6      9
6 39    323     11.5 87   6     10

In [28]:
temperatures_table <- select(airquality, Temp, Month, Day) # crea un subconjunto de datos con las variables Temp, Month y Day
head(temp)

  Temp Month Day
1 67   5     1
2 72   5     2
3 74   5     3
4 62   5     4
5 56   5     5
6 66   5     6

In [33]:
summarize(temperatures_table, media = mean(Temp, na.rm = TRUE)) # agrupa la variable

  media
1 77.88235

In [35]:
summarise(group_by(temperatures_table, Month), media = mean(Temp, na.rm = TRUE))

  Month media
1 5     65.54839
2 6     79.10000
3 7     83.90323
4 8     83.96774
5 9     76.90000

### El operador %>% ###

In [16]:
airquality %>% select (Temp, Month, Day) %>% filter(Temp > 70)

    Temp Month Day
1   72   5      2
2   74   5      3
3   74   5     11
4   73   5     22
5   81   5     29
6   79   5     30
7   76   5     31
8   78   6      1
9   74   6      2
10  84   6      4
11  85   6      5
12  79   6      6
13  82   6      7
14  87   6      8
15  90   6      9
16  87   6     10
17  93   6     11
18  92   6     12
19  82   6     13
20  80   6     14
21  79   6     15
22  77   6     16
23  72   6     17
24  73   6     19
25  76   6     20
26  77   6     21
27  76   6     22
28  76   6     23
29  76   6     24
30  75   6     25
... ...  ...   ...
91  81   8     25
92  86   8     26
93  88   8     27
94  97   8     28
95  94   8     29
96  96   8     30
97  94   8     31
98  91   9      1
99  92   9      2
100 93   9      3
101 93   9      4
102 87   9      5
103 84   9      6
104 80   9      7
105 78   9      8
106 75   9      9
107 73   9     10
108 81   9     11
109 76   9     12
110 77   9     13
111 71   9     14
112 71   9     15
113 78   9     16
114 76   9     18
115 82   9     20
116 71   9     22
117 81   9     23
118 77   9     27
119 75   9     28
120 76   9     29

## arrange ##

similar a la funci칩n arrange en el paquete **plyr**