## Indexado de vectores ##

Por indexado entendemos el filtrado de un vector o dataframe según unos criterios específicos

### Operadores lógicos ###

Podemos filtrar un vector basandonos en las propiedades de otro vector. Para ellos podemos usar operadores lógicos

| operador | significado |
| --- | --- |
| **<** | menor que |
| **<=** | menor o igual que |
| **<** | mayor que |
| **>=** | mayor o igual que |
| **==** | igual a |
| **!=** | distinto a |
| **!** | NOT |
| **|** | OR|
| **&** | AND |

In [28]:
planetas <- c('Mercurio','Venus','Tierra','Marte','Jupiter','Saturno','Urano','Neptuno')
diametro <- c(4880, 12104, 12756, 6794, 142984, 108728, 51118, 49532) # en km
radio_ecuatorial <- c(2440, 6052, 6378, 3397, 71492, 60268, 25559, 24746) # en km
masa <- c(3.302E23, 4.8690E24, 5.9742E24, 6.4191E23, 1.8987E27, 5.6851E26, 8.6849E25, 1.0244E26) # en kg
densidad <- c(5.43, 5.24, 5.515, 3.940, 1.33, 0.697, 1.29, 1.76) # en gr/cm3
distancia_sol <- c(57910000, 108200000, 149600000, 227940000, 778330000, 1429400000, 2870990000, 4504300000) # en km
semieje_mayor <-c (0.387, 0.723, 1, 1.524, 5.203, 9.539, 19.182, 30.058) # en UA
per_revolucion <- c(0.24, 0.62, 1, 1.88, 11.86, 29.46, 84.01, 164.8) # periodo de revolución en años
lunas <- c(0,0,1,2,16,18,15,8)
sistema_solar <- data.frame(planetas, diametro, radio_ecuatorial, masa, densidad, distancia_sol, semieje_mayor, per_revolucion, lunas)
sistema_solar

  planetas diametro radio_ecuatorial masa       densidad distancia_sol
1 Mercurio   4880    2440            3.3020e+23 5.430      57910000
2 Venus     12104    6052            4.8690e+24 5.240     108200000
3 Tierra    12756    6378            5.9742e+24 5.515     149600000
4 Marte      6794    3397            6.4191e+23 3.940     227940000
5 Jupiter  142984   71492            1.8987e+27 1.330     778330000
6 Saturno  108728   60268            5.6851e+26 0.697    1429400000
7 Urano     51118   25559            8.6849e+25 1.290    2870990000
8 Neptuno   49532   24746            1.0244e+26 1.760    4504300000
  semieje_mayor per_revolucion lunas
1  0.387          0.24          0
2  0.723          0.62          0
3  1.000          1.00          1
4  1.524          1.88          2
5  5.203         11.86         16
6  9.539         29.46         18
7 19.182         84.01         15
8 30.058        164.80          8

El siguiente código filtra los planetas cuya densidad es superior a 5

In [19]:
d5 <- sistema_solar$densidad > 5 # planetas con densidad superior a 5
d5 # este vector se compone de los valores TRUE y FALSE
sistema_solar$planetas[d5]
sum (d5) # suma solos los valores TRUE

[1]  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE

[1] Mercurio Venus    Tierra
Levels: Jupiter Marte Mercurio Neptuno Saturno Tierra Urano Venus

[1] 3

In [32]:
d5 <- sistema_solar$densidad > 5
lun <- sistema_solar$lunas >= 1
sistema_solar$planetas[d5&lun] # filtra por los planetas con densidad > 5 y una o más lunas

[1] Tierra
Levels: Jupiter Marte Mercurio Neptuno Saturno Tierra Urano Venus

### which, mach, %in% ##

In [34]:
x <- c(FALSE, TRUE, FALSE, TRUE, FALSE)
which(x) # nos devuelve los indices de los elementos que son TRUE

[1] 2 4

In [36]:
which(sistema_solar$planetas == "Jupiter") # nos devuelve el indice correspondiente con el planeta "Jupiter"

[1] 5

In [40]:
index = which(sistema_solar$planetas == "Jupiter")
sistema_solar$densidad[index]

[1] 1.33

match nos devuelve los indices de un vector (en otro vector) o bien NA si el elemento no se encuentra

In [44]:
index <- match(c("Tierra", "Jupiter", "Pluton"), sistema_solar$planetas)
index

[1] 3 5 2

[1]  3  5 NA

**%in%** nos devuelve un vector lógico indicando si un elemento está (TRUE) o no (FALSE) en otro vector

In [43]:
x <- c("a", "b", "c", "d", "e")
y <- c("a", "d", "f")
y %in% x

[1]  TRUE  TRUE FALSE

### Algunos ejemplos combinando operadores ###

In [4]:
ciudad <- c('Madrid', 'Barcelona', 'Malaga', 'Mallorca','Sevilla')
cod <- c('MAD', 'BCN', 'AGP','PMI','SVQ')# codigo IATA aeropuerto
aeropuertos <- data.frame (ciudad, cod)

encontrar el código de abbs que no está en la lista proporcionada usando los operadores which, ! y %in%

In [9]:
abbs <- c('MAD', 'BCN', 'ZAZ')
ind_si <- abbs %in% cod # el indice de los que sí están en la lista
ind_no <- which (!cod_si) # el indice de los que no están en la lista
abbs[cod_no]

[1] "ZAZ"

In [11]:
# otra solución más abreviada
abbs <- c('MAD', 'BCN', 'ZAZ')
ind <- which ( ! (abbs %in% cod))
abbs[ind]

[1] "ZAZ"