# Librería plyr #

In [3]:
library(plyr)

In [9]:
library(datasets)
head(mtcars)

  carName           carName           carName           mpg  cyl disp hp  drat
1 Mazda RX4         Mazda RX4         Mazda RX4         21.0 6   160  110 3.90
2 Mazda RX4 Wag     Mazda RX4 Wag     Mazda RX4 Wag     21.0 6   160  110 3.90
3 Datsun 710        Datsun 710        Datsun 710        22.8 4   108   93 3.85
4 Hornet 4 Drive    Hornet 4 Drive    Hornet 4 Drive    21.4 6   258  110 3.08
5 Hornet Sportabout Hornet Sportabout Hornet Sportabout 18.7 8   360  175 3.15
6 Valiant           Valiant           Valiant           18.1 6   225  105 2.76
  wt    qsec  vs am gear carb
1 2.620 16.46 0  1  4    4
2 2.875 17.02 0  1  4    4
3 2.320 18.61 1  1  4    1
4 3.215 19.44 1  0  3    1
5 3.440 17.02 0  0  3    2
6 3.460 20.22 1  0  3    1

In [5]:
arrangedData <- arrange(mtcars, cyl, mpg) # ordena por cyl, después por mpg
head(arrangedData)

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
2 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
3 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
5 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
6 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2

Los nombres de las observaciones se han perdido. Para resolver esto

In [11]:
carName <- rownames(mtcars)
mtcars <- cbind(carName, mtcars)
rownames(mtcars) <- NULL
head(mtcars)

  carName carName carName           carName           carName           mpg
1 1       1       Mazda RX4         Mazda RX4         Mazda RX4         21.0
2 2       2       Mazda RX4 Wag     Mazda RX4 Wag     Mazda RX4 Wag     21.0
3 3       3       Datsun 710        Datsun 710        Datsun 710        22.8
4 4       4       Hornet 4 Drive    Hornet 4 Drive    Hornet 4 Drive    21.4
5 5       5       Hornet Sportabout Hornet Sportabout Hornet Sportabout 18.7
6 6       6       Valiant           Valiant           Valiant           18.1
  cyl disp hp  drat wt    qsec  vs am gear carb
1 6   160  110 3.90 2.620 16.46 0  1  4    4
2 6   160  110 3.90 2.875 17.02 0  1  4    4
3 4   108   93 3.85 2.320 18.61 1  1  4    1
4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 8   360  175 3.15 3.440 17.02 0  0  3    2
6 6   225  105 2.76 3.460 20.22 1  0  3    1