# Estructuras de control: if, for, while #

## Expresiones condicionales (if /else / ifelse) ##

In [ ]:
if(a!=0){
    print(1/a)
} else {
    print("error en la operaci贸n: divisi贸n por cero")
}

la palabra clave **ifelse** permite escribir sentencias condicionales muy compactas

In [1]:
a <- 0
ifelse(a>0, 1/a, NA)

[1] NA

Esta funci贸n se puede aplicar a un vector y el resultado es otro vector

In [2]:
a <- c(0, 1, 2, -4, 5)
division  <- ifelse(a>0, 1/a, NA)
division

[1]  NA 1.0 0.5  NA 0.2

Podemos usarla para sustituir los valores NA por el valor 0 (cero)

In [6]:
na_serie <- c(NA, 1, 5, NA, 7, 9)
sum(is.na(na_serie))
no_nas <- ifelse(is.na(na_serie), 0, na_serie)
no_nas

[1] 2

[1] 0 1 5 0 7 9

In [5]:
head(airquality)
sum(is.na(airquality))
Ozone_no_nas <- ifelse(is.na(airquality$Ozone), -1, airquality$Ozone)
head(Ozone_no_nas)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

[1] 44

[1] 41 36 12 18 -1 28

## Bucles For ##

    for (i in range of values){
        ...
        c贸digo
        ...
    }

In [ ]:
x <- c("a", "b", "c", "d")

for (i in 1:4) {
    print(x[i])
}

for (in in seq_along(x)){
    print (x[i])
}

for (letter in x){
    print (letter)
}

for (in in 1:4) print (x[i])

In [5]:
# crea un vector con la suma de los cuadrados de los primeros 25 numeros

s_n <- vector("numeric", 25) # vector vac铆o de longitud 25

for (i in 1:25){
    s_n[i] <- compute_s_n(i)
}
s_n

 [1]    1    5   14   30   55   91  140  204  285  385  506  650  819 1015 1240
[16] 1496 1785 2109 2470 2870 3311 3795 4324 4900 5525

## bucles While ##

In [8]:
## sobre append
## https://stackoverflow.com/questions/22235809/append-value-to-empty-vector-in-r

z <- 5

walk <- integer() # crea un vector de integrales vac铆o

while (z>=3 && z<=10){
    walk <- append(walk, z) # a帽ade un nuevo objeto al vector walk
    coin <- rbinom(1,1,0.5)
    
    if (coin ==1){ ## random walk
        z <- z+1
    } else {
        z <- z-1
    }
    
}

print (walk)

[1] 5 4 3

# Repeat, next, break #

https://www.datacamp.com/community/tutorials/tutorial-on-loops-in-r