Cargamos en un dataframe los datos contenidos en el archivo hw1_data.csv

In [5]:
df <- read.csv('data/hw1_data.csv')

In [6]:
class(df) # devuelve el tipo de datos de df

[1] "data.frame"

In [7]:
str(df) # información sobre la estructura del conjunto de datos

'data.frame':	153 obs. of  6 variables:
 $ Ozone  : int  41 36 12 18 NA 28 23 19 8 NA ...
 $ Solar.R: int  190 118 149 313 NA NA 299 99 19 194 ...
 $ Wind   : num  7.4 8 12.6 11.5 14.3 14.9 8.6 13.8 20.1 8.6 ...
 $ Temp   : int  67 72 74 62 56 66 65 59 61 69 ...
 $ Month  : int  5 5 5 5 5 5 5 5 5 5 ...
 $ Day    : int  1 2 3 4 5 6 7 8 9 10 ...

In [8]:
dim(df) # dimension de los datos

[1] 153   6

In [9]:
nrow(df) # número de registros (filas) en el conjunto de datos

[1] 153

In [10]:
head(df) # devuelve los primeros registros del dataframe

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [11]:
tail(df) # devuelve los últimos registros del dataframe

    Ozone Solar.R Wind Temp Month Day
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [12]:
df[45:50,] # devuelvo los registros 45 a 50

   Ozone Solar.R Wind Temp Month Day
45 NA    332     13.8 80   6     14
46 NA    322     11.5 79   6     15
47 21    191     14.9 77   6     16
48 37    284     20.7 72   6     17
49 20     37      9.2 65   6     18
50 12    120     11.5 73   6     19

In [13]:
df [47,1] # devuelve el valor de Ozone (columna 1), de la fila 47

[1] 21

In [14]:
oz <- df$Ozone
sum(is.na(oz)) # número de registros NA de la columna Ozone

[1] 37

In [15]:
mean(oz) # no es posible calcular la media si el vector contiene valores NA

[1] NA

In [16]:
ind_na <- is.na(oz)
oz <- oz[!ind_na] # crea un nuevo vector sin los valores NA
mean(oz) # ahora sí podemos calcular la media

[1] 42.12931

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90. What is the mean of Solar.R in this subset?

In [17]:
new_data <- df[df$Ozone > 31 & df$Temp > 90, ]
solR <- new_data$Solar.R
ind_na <- is.na(solR)
solR <- solR[!ind_na]
mean(solR)

[1] 212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [18]:
new_data <- df[df$Month == 6, ]
sum(is.na(new_data$Month)) # y como su valor es cero....
mean(new_data$Temp)

[1] 0

[1] 79.1

What was the maximum ozone value in the month of May (i.e. Month is equal to 5)?

In [19]:
new_data <- df[df$Month == 5, ]
max(new_data$Ozone) # INCORRECTO; EXISTEN VALORES NA
max(new_data$Ozone, na.rm=TRUE)

[1] NA

[1] 115